<launch>

    <!-- Load the URDF into the ROS Parameter Server -->
    <param name="robot_description"
           command="$(find xacro)/xacro.py '$(find march_description)/urdf/march.xacro'" />

    <!-- Show in Rviz   -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find march_description)/launch/march.rviz"/>

    <!-- Include gazebo launch file march_world.launch -->
    <include file="$(find march_gazebo)/launch/march_world.launch" />

    <!-- Include ros_control launch file to load joint position controllers -->
    <include file="$(find march_control)/launch/march_control.launch" />

    <!-- Create node to control joint positions using joint controller -->
    <node name="joint_positions_node" pkg="march_files" type="position_controller.py" output="screen" respawn="true" />

</launch>