<library path="src">
    <class name="GaitSelectionPlugin" type="march_rqt_gait_selection.gait_selection.GaitSelectionPlugin" base_class_type="rqt_gui_py::Plugin">
        <description>
            RQT plugin to configure which version of gaits will be performed at runtime.
        </description>
        <qtgui>
            <label>March Gait Selection</label>
            <icon>resource/img/march-walking.png</icon>
            <statustip>March IV Gait Selection</statustip>
        </qtgui>
    </class>
</library>
