<launch>

    <!-- a basic listener node -->
    <!-- Adele -->
    <node name="Beyonce" pkg="march_main" type="DeveloperInputNode" output="screen"/>
    <node name="Charlie" pkg="march_main" type="DataLoggerNode" output="screen"/>
    <node name="Drake" pkg="march_main" type="GaitControllerNode" output="screen"/>
    <node name="Eminem" pkg="march_main" type="MasterNode" output="screen"/>

</launch>