<launch>

    <param name="robot_description"
           command="$(find xacro)/xacro --inorder '$(find march_description)/urdf/march.xacro'" />

    <!-- ros_control march launch file -->
    <include file="$(find march_control)/launch/march_control.launch"/>

    <param name="use_gui" value="true"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz"/>


    <node name="control_node" pkg="march_main" type="control_node" output="screen"/>


</launch>