[submodule "march_ws/src/state-machine"]
	path = march_ws/src/state-machine
	url = https://github.com/project-march/state-machine.git
	branch = develop

[submodule "march_ws/src/pilot-devices-coordinator"]
	path = march_ws/src/pilot-devices-coordinator
	url = https://github.com/project-march/pilot-devices-coordinator.git
	branch = develop
  
[submodule "march_ws/src/hardware-interface"]
	path = march_ws/src/hardware-interface
	url = https://github.com/project-march/hardware-interface.git
	branch = develop

[submodule "march_ws/src/gait-generation"]
	path = march_ws/src/gait-generation
	url = https://github.com/project-march/gait-generation.git
	branch = develop

[submodule "march_ws/src/march-simulation"]
	path = march_ws/src/march-simulation
	url = https://github.com/project-march/march-simulation.git
	branch = develop
