[submodule "march_ws/src/joint-control"]
	path = march_ws/src/joint-control
	url = https://github.com/project-march/joint-control.git
	branch = develop
	
[submodule "march_ws/src/state-machine"]
	path = march_ws/src/state-machine
	url = https://github.com/project-march/state-machine.git
	branch = develop

[submodule "march_ws/src/pilot-devices-coordinator"]
	path = march_ws/src/pilot-devices-coordinator
	url = https://github.com/project-march/pilot-devices-coordinator.git
	branch = develop
  
[submodule "march_ws/src/ethercat-master"]
	path = march_ws/src/ethercat-master
	url = https://github.com/project-march/ethercat-master.git
	branch = develop
