<launch>

    <arg name="simulation" default="true" doc="Launch the simulation or the actual exoskeleton"/>

    <arg name="rqt" default="false" doc="Launch the rqt nodes"/>
    <arg name="rviz" default="true" doc="Launch rviz"/>
    <arg name="gazebo_ui" default="false" doc="Launch Gazebo with a ui"/>

    <!-- Launch the description package-->
    <!-- Load the URDF of the exoskeleton in the ROS parameter server.-->
    <include file="$(find march_description)/launch/load_description.launch"/>

    <!-- Launch the gazebo package.-->
    <include file="$(find march_gazebo)/launch/march_world.launch">
        <arg name="gui" value="$(arg gazebo_ui)"/>
    </include>

    <!-- Launch the control package.-->
    <include file="$(find march_control)/launch/march_control.launch"/>

    <!-- Launch the main package, including api.-->
    <include file="$(find march_state_machine_service)/launch/march_state_machine_service.launch"/>

    <!-- Launch the state machine package.-->
    <include file="$(find march_state_machine)/launch/march_state_machine.launch"/>

    <!-- OPTIONAL: Launch the rqt plugins that allow for easy debugging.-->
    <group if="$(arg rqt)">
        <include file="$(find march_launch)/launch/rqt.launch"/>
    </group>

    <!-- OPTIONAL: Load the rviz plugin which visualizes the actual position of the exoskeleton.-->
    <group if="$(arg rviz)">
        <node name="rviz" pkg="rviz" type="rviz"/>
    </group>

</launch>