<launch>
    <arg name="unpause" default="true" doc="Unpauses simulation."/>
    <arg name="sounds" default="false" doc="Whether to use sounds."/>

    <node name="state_machine" pkg="march_state_machine" type="march_state_machine" output="screen" required="true">
        <param name="unpause" value="$(arg unpause)"/>
        <param name="sounds" value="$(arg sounds)"/>
    </node>
</launch>
