<launch>
    <arg name="moticon_ip" default="192.168.8.105" doc="The ip-adress with Moticon software running on it, defaults to
            EMS switch laptop on standard router"/>
    <arg name="pressure_soles" default="false" doc="Whether pressure soles will be connected"/>
    <arg name="esp" default="false" doc="Whether to launch the esp adapter"/>
    <node name="march_data_collector" pkg="march_data_collector" type="march_data_collector" output="screen">
        <param name="moticon_ip" value="$(arg moticon_ip)" />
        <param name="pressure_soles" value="$(arg pressure_soles)" />
    </node>
    <node if="$(arg esp)" name="esp_adapter" pkg="march_data_collector" type="esp_adapter" output="screen"/>
</launch>
