<launch>

    <arg
            name="gait_file_package"
            default="march_gait_files"
            doc="The package where the gait files are located"
    />
    <arg
            name="gait_file_directory"
            default="airgait"
            doc="The directory where the gait files are located, relative to the above package"
    />

    <rosparam param="/march/gait_file_package" subst_value="true">$(arg gait_file_package)</rosparam>
    <rosparam param="/march/gait_file_directory" subst_value="true">$(arg gait_file_directory)</rosparam>
    <node name="march_gait_selection" pkg="march_gait_selection" type="GaitSelectionNode.py" output="screen"/>

</launch>
