<launch>
    <node name="march_safety_node" pkg="march_safety" type="march_safety_node" output="screen">
        <rosparam>
            default_temperature_threshold: 40
            input_device_connection_timeout: 1000
            send_errors_interval: 1000
        </rosparam>
        <rosparam param="temperature_thresholds">
            ankle_joint: 60
            knee_joint: 60
        </rosparam>
    </node>
</launch>