<launch>

    <node name="march_safety_node" pkg="march_safety" type="march_safety_node" output="screen">
        <rosparam>
            default_temperature_threshold: 40
        </rosparam>
        <rosparam param="temperature_thresholds">
            ankle_joint: 60
            knee_joint: 60
        </rosparam>
    </node>
</launch>