<launch>
    <arg name="hardware_interface" default="true" doc="Launches the hardware_interface."/>
    <arg name="gain_scheduling" default="true" doc="Whether to use gain scheduling, which changes PID values based on executed gait."/>
    <arg name="gain_tuning" default="sjaan_gait" doc="The configuration to use for gain scheduling. Only used when 'gain_scheduling' is true."/>
    <arg name="sounds" default="true" doc="Whether to use sounds."/>
    <arg name="data_collector" default="false" doc="Launches the data collector when true."/>

    <arg name="arduino_master" default="true" doc="Launches ros serial node to connect with arduino on master."/>
    <arg name="input_device" default="true" doc="Launches ros serial node to connect with input device."/>
    <arg name="wireless" default="false" doc="Enables wireless connection to the input device."/>

    <arg name="gait_directory" default="training-v" doc="Gait files directory to use"/>

    <include file="$(dirname)/march.launch" pass_all_args="true">
        <arg name="configuration" value="exoskeleton"/>
        <arg name="headless" value="true"/>
    </include>
</launch>
