<library path="src">
    <class name="TrainingLogPlugin" type="march_rqt_training_log.training_log.TrainingLogPlugin" base_class_type="rqt_gui_py::Plugin">
        <description>
            RQT plugin to write messages to a training log during the training.
        </description>
        <qtgui>
            <label>March Training Log</label>
            <icon>resource/img/march-walking.png</icon>
            <statustip>March IV Training Log</statustip>
        </qtgui>
    </class>
</library>
