<library path="src">
    <class name="LaunchMenuPlugin" type="march_rqt_launch_menu.launch_menu.LaunchMenuPlugin" base_class_type="rqt_gui_py::Plugin">
        <description>
            RQT plugin to easily configure what to launch when running the march iv exoskeleton.
        </description>
        <qtgui>
            <label>March Launch Menu</label>
            <icon>resource/img/march-walking.png</icon>
            <statustip>March IV Launch Settings</statustip>
        </qtgui>
    </class>
</library>
