<library path="src">
    <class name="InputDevicePlugin" type="march_rqt_input_device.input_device.InputDevicePlugin" base_class_type="rqt_gui_py::Plugin">
        <description>
            An example Python GUI plugin to create a great user interface.
        </description>
        <qtgui>
            <label>March Input Device</label>
            <icon>resource/img/march-walking.png</icon>
            <statustip>Great user interface to provide real value.</statustip>
        </qtgui>
    </class>
</library>